$family-primary: "Chivo", sans-serif;
$primary: hsl(204, 86%, 53%);
$secondary: hsl(322, 100%, 75%);

// Titles
//$title-color: whitesmoke;

// Cards
//$card-color: whitesmoke;
//$card-background-color: whitesmoke;
//$card-header-color: whitesmoke;
