.countdown-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;

  .circle-background,
  .circle-progress {
    fill: none;
  }

  .circle-background {
    stroke: #f8f8f8;
  }

  .circle-progress {
    stroke: var(--primary);
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .countdown-text {
    font-size: 1.3em;
    fill: #f8f8f8;
  }

  .countdown-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fa-ban {
    opacity: 0.6;
  }
}
