$family-primary: "Chivo", sans-serif;
$off-black: #141414;

$primary: hsl(28.5, 85.8%, 53%);
$primary-darker: hsl(28.5, 85.8%, 49%);
$gradient-top: #537895;
$gradient-bottom: #09203f;

/* $primary: hsl(322.1, 100%, 74%);
$primary-darker: hsl(322.1, 100%, 70%);
$gradient-top: #fa709a;
$gradient-bottom: #e2d1c3; */

/* $primary: hsl(143.9, 85.7%, 41%);
$primary-darker: hsl(143.9, 85.7%, 37%);
$gradient-top: #0ba360;
$gradient-bottom: #9cfbc4; */

/* $primary: hsl(203.9, 85.8%, 52%);
$primary-darker: hsl(203.9, 85.8%, 48%);
$gradient-top: #ace0f9;
$gradient-bottom: #fff1eb; */

/* $primary: hsl(0, 0%, 54%);
$primary-darker: hsl(0, 0%, 50%);
$gradient-top: #dfe9f3;
$gradient-bottom: #fafafa;
 */
