$family-primary: "Chivo", sans-serif;
$primary: hsl(204, 86%, 53%);
//$primary: hsl(322, 100%, 75%);
$secondary: hsl(322, 100%, 75%);
$off-black: #141414;

// Titles
//$title-color: ghostwhite;

// Cards
//$card-color: ghostwhite;
//$card-background-color: ghostwhite;
//$card-header-color: ghostwhite;
