html {
  overflow-y: auto;
  min-height: 100%;

  background: $secondary;

  // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  // background: #87e0fd; /* Old browsers */
  // background: -moz-linear-gradient(
  //   -45deg,
  //   #87e0fd 0%,
  //   #53cbf1 40%,
  //   #05abe0 100%
  // ); /* FF3.6-15 */
  // background: -webkit-linear-gradient(
  //   -45deg,
  //   #87e0fd 0%,
  //   #53cbf1 40%,
  //   #05abe0 100%
  // ); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(
  //   135deg,
  //   #87e0fd 0%,
  //   #53cbf1 40%,
  //   #05abe0 100%
  // ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  background-attachment: fixed;
}

.image-preview {
  margin-top: 0.75rem;
  padding: 0 10%;
  background: $off-black;

  border-radius: 6px;
}

// General page styles
.page-title {
  @extend %is-dark;
  padding: 0.5rem 0.75rem;
}

.page-subtitle {
  background: whitesmoke;
  padding: 0.1rem 0.75rem;
  display: flex;

  a {
    color: $off-black;
    width: 100%;
  }
}

.box {
  background: whitesmoke;
}

.online-status-container {
  display: flex;
  line-height: 1.25;

  .online-status-dot {
    background: limegreen;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 4px;
  }

  .online-status-text {
    padding: 0 10px 0 5px;
  }

  :last-child {
    padding-right: 0;
  }
}

.image-container {
  width: 100%;
  height: 100%;
  display: block;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.is-175x175 {
  height: 175px;
  width: 175px;
}

@media (max-width: $desktop - 1) {
  .container {
    padding: 0 1em;
    margin: 0;
  }
}

.App {
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;

  display: flex;
  flex-direction: column;

  .siteContent {
    flex: 1;
  }
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.centered-form {
  max-width: 700px;
  margin: auto;

  .box {
    margin-bottom: 0.5rem;
  }
}

.grouped-control-margin {
  margin: 0 0.75rem;
}

@media (max-width: $desktop - 1) {
  .is-fullwidth-touch {
    width: 100%;
  }
}

.col-stretch {
  width: 99%;
}

.small-input {
  width: 100px;
}
