html {
  overflow-y: auto;
  min-height: 100%;
}

body {
  color: $off-black;
}

.image-preview {
  margin-top: 0.75rem;
  padding: 0 10%;
  background: $off-black;
  border-radius: 4px;
}

// General page styles
.hs-box {
  @extend %has-shadow;
  background-color: #fafafa;
  color: #404040;
  display: block;
  padding: 1.25rem;
}

.has-rounded-corners {
  border-radius: 14px;
}

.card {
  @extend %has-shadow;
  background: #fafafa;
}

.online-status-container {
  display: flex;
  line-height: 1.25;

  .online-status-dot {
    background: limegreen;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 4px;

    &.status-away {
      background: #e5c100;
    }
  }

  .online-status-text {
    padding: 0 10px 0 5px;
  }

  :last-child {
    padding-right: 0;
  }
}

.image-container {
  width: 100%;
  height: 100%;
  display: block;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.is-175x175 {
  height: 175px;
  width: 175px;
}

.is-size-3 {
  font-size: 1.85rem !important;
}

strong {
  color: inherit;
}

@media (max-width: $desktop - 1) {
  .container {
    padding: 0 1em;
    margin: 0;
  }
}

@media (max-width: $tablet - 1) {
  body .centered-form .hs-box {
    padding: 1.75rem;
  }

  .label {
    font-size: 0.9rem;
  }
}

.App {
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-stretch; /* Mozilla-based browsers will ignore this. */
  height: stretch;

  display: flex;
  flex-direction: column;

  .site-content {
    flex: 1;
    width: 100%;
  }
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.is-vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered-form {
  max-width: 525px;
  margin: auto;

  .hs-box {
    padding: 2.25rem;
    margin-bottom: 0.5rem;
  }
}

.grouped-control-margin {
  margin: 0 0.75rem;
}

.textonly-control {
  padding-top: 0.25rem;
}

.button-tag-right {
  position: relative;
  left: 6px;
  margin-left: -4px;
}

@media (max-width: $desktop - 1) {
  .is-fullwidth-touch {
    width: 100%;
  }
}

.col-stretch {
  width: 99%;
}

.small-input {
  width: 100px;
}

.is-underlined {
  text-decoration: underline;
}

.ws-nowrap {
  white-space: nowrap;
}

.clickable-text:hover {
  cursor: pointer;

  &.dropdown-item {
    background: whitesmoke;
  }
}

.title {
  .clickable-text:hover {
    color: inherit;
  }
}

.card-image {
  position: relative;
  border: 7px solid #fafafa;

  figure,
  img {
    border-radius: 4px;
  }

  &::after {
    content: "";
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.05+1,0.15+50,0.75+100 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 1%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0.75) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 1%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0.75) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 1%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0.75) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
  }
}

.label.form-label:not(:last-child) {
  margin-bottom: 0;
  padding: 0.25rem 0;
}

.centered-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-text-length-1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 6rem;
}
.max-text-length-2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 9rem;
}
.max-text-length-3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 12rem;
}

.tab-right {
  position: fixed;
  right: 0;
  top: 7.75rem;
  z-index: 2;

  .tab-right-button {
    border-radius: 14px 0 0 14px;
  }
}

@media (max-width: $tablet - 1) {
  .tab-right {
    top: 5.25rem;
  }
}
