// Imports in specific order
@import "utils/variables.scss";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";

@import "utils/marginAndPaddingUtil.scss";

@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/other.sass";
@import "~bulma/sass/elements/icon.sass";

@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/footer.sass";

@import "~bulma/sass/grid/columns.sass";

@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/media.sass"; //Probably can delete later, just using for the notice board rn
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/dropdown.sass";

@import "utils/carousel.scss";
@import "utils/hexdots.scss";

html {
  overflow-y: auto;
  min-height: 100%;

  background: $secondary;

  // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  // background: #87e0fd; /* Old browsers */
  // background: -moz-linear-gradient(
  //   -45deg,
  //   #87e0fd 0%,
  //   #53cbf1 40%,
  //   #05abe0 100%
  // ); /* FF3.6-15 */
  // background: -webkit-linear-gradient(
  //   -45deg,
  //   #87e0fd 0%,
  //   #53cbf1 40%,
  //   #05abe0 100%
  // ); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(
  //   135deg,
  //   #87e0fd 0%,
  //   #53cbf1 40%,
  //   #05abe0 100%
  // ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  background-attachment: fixed;
}

@media (max-width: $desktop - 1) {
  .container {
    padding: 0 1em;
    margin: 0;
  }
}

@media (max-width: $tablet - 1) {
  #logo_typewriter {
    display: none;
  }
}

.App {
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;

  display: flex;
  flex-direction: column;

  .siteContent {
    flex: 1;
  }
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.centeredVertically {
  display: flex;
  align-items: center;
}

.centeredForm {
  max-width: 700px;
  margin: auto;
}

// Navbar
#logo {
  color: whitesmoke;
  transition: color 0.2s;

  &:hover {
    color: $primary;
    background-color: transparent;
  }
}

#currentGroupBtn {
  color: whitesmoke;
}

.navbar-burger span {
  height: 2px;
}

@media (max-width: $desktop - 1) {
  #currentGroupBtn {
    background-color: $primary;
  }

  .navbar.is-fixed-top {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }
  .navbar-brand {
    min-width: 100%;
    background-color: $black;
  }
  .navbar-menu {
    margin-left: auto;
    padding: 0;
    background-color: whitesmoke; // rgba(0, 0, 0, 0.6);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    //border-bottom-left-radius: 6px;

    .navbar-end {
      padding: 0 1.25rem;
    }

    .navbar-item {
      padding: 0.75rem 0;
      &:not(:last-child) {
        border-bottom: 1px solid black;
      }
    }

    .buttons .button {
      flex-grow: 1;
    }
  }
}

// Footer
.footer {
  margin-top: 5em;
  color: silver;
  background: $off-black;
}

// Spinner
.spinnerContainer {
  background-color: white;
  border-radius: 6px;
  width: 100px;
  height: 100px;
  margin: 20vh auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

// General page styles
.pageTitle {
  background: $off-black;
  color: whitesmoke;
  padding: 0.5rem 0.75rem;
}

.box {
  background: whitesmoke;
}

.onlineStatusContainer {
  display: flex;
}

.onlineStatusDot {
  background: limegreen;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 4px;
}

.onlineStatusText,
.headerText {
  padding: 0 10px 0 5px;
}

.imageContainer {
  background: dimgray;
}

.pageNotFound {
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  .box {
    margin-right: 20%;
  }
  .pageNotFoundWarning,
  #lostMoto {
    flex: 1;
  }
}

.grouped-control-margin {
  margin: 0 0.75rem;
}

@media (max-width: $desktop - 1) {
  .pageNotFound {
    padding: 0 1em;
    margin-top: 3rem;

    .box {
      margin-right: 0;
    }

    .pageNotFoundWarning {
      flex: 1 100%;
    }

    #lostMoto {
      text-align: right;
      flex: 1 100%;

      height: 30vh;
      margin-top: 5vh;
    }
  }
}

.col-stretch {
  width: 99%;
}

// Discover header
.discoverHeader {
  padding: 1.5rem;
  margin: 1.5rem 0;
  display: flex;
  background: hsl(204, 86%, 53%);
  border: 9px dotted $black;

  .headerStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .stepDescription {
      margin-top: 1rem;
      padding: 0.5rem 0.75rem;
      color: whitesmoke;
      background: $black;
      border-radius: 6px;
    }
  }
}

// Group type categories
.tag.category-social,
.category-social {
  background-color: hsl(322, 100%, 75%);
  color: whitesmoke;
}
.tag.category-gaming,
.category-gaming {
  background-color: #ffdc00;
  color: hsla(52, 100%, 20%, 1);
}
.tag.category-educational,
.category-educational {
  background-color: #7fdbff;
  color: hsla(197, 100%, 20%, 1);
}
.tag.category-professional,
.category-professional {
  background-color: #001f3f;
  color: lightgray;
}
.tag.category-hobby,
.category-hobby {
  background-color: #ff4136;
  color: lightgray;
}
.tag.category-other,
.category-other {
  background-color: #aaaaaa;
  color: whitesmoke;
}

// Notifications / Alerts
.notification {
  margin-top: 1.5rem;
}

// Cards
.groupTypeCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
}

.groupTypeCard {
  position: relative;

  .card-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.05+1,0.15+50,0.75+100 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 1%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0.75) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 1%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0.75) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 1%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0.75) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
  }

  &:hover {
    .title {
      text-decoration: underline;
    }
  }
}

.tag.groupTypeTag,
.groupTypeTag {
  position: absolute;
  top: 8px;
  right: 10px;
}

.groupCardContainer {
  &:hover {
    .title {
      text-decoration: underline;
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;

  .groupDescription {
    flex: 1;
    padding: 1em 0;
  }
}

.groupDetailsContainer {
  display: flex;
  flex-direction: column;

  .groupDescription {
    flex: 1;
    padding-bottom: 1em;
  }
}

.groupImage img,
.imageContainer {
  object-fit: cover;
  width: 100%;
  height: 100%;

  display: block;
}

.groupDetails {
  display: flex;
  flex-flow: row wrap;

  .icon {
    flex-shrink: 0;
  }

  .groupMeetPlace {
    flex: 3 240px;
  }

  .groupMeetTime {
    flex: 2 150px;
  }
}

@media (max-width: $tablet - 1) {
  .groupCardContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .groupImage {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.05+1,0.15+50,0.75+100 */
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.05) 0%,
        rgba(0, 0, 0, 0.05) 1%,
        rgba(0, 0, 0, 0.15) 50%,
        rgba(0, 0, 0, 0.75) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.05) 0%,
        rgba(0, 0, 0, 0.05) 1%,
        rgba(0, 0, 0, 0.15) 50%,
        rgba(0, 0, 0, 0.75) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.05) 0%,
        rgba(0, 0, 0, 0.05) 1%,
        rgba(0, 0, 0, 0.15) 50%,
        rgba(0, 0, 0, 0.75) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
    }
  }
}

// Page nav
#pageNav {
  align-items: flex-end;
  margin: 2.5rem 0 1.5rem 0;
}

#controlSearchGroupTypes,
#controlSearchGroups {
  width: 300px;
}

@media (max-width: $tablet - 1) {
  #controlSearchGroupTypes,
  #controlSearchGroups {
    width: 250px;
  }
}

//TODO clean this shit up

// Admin portal
.adminPortal {
  background: $off-black;
  color: $white;
  padding: 1em;

  img {
    max-width: 350px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 0.5em;

    tr {
      td {
        &:nth-child(even) {
          background: white;
        }
        color: black;
        background: whitesmoke;
        padding: 0.5em 1em;
      }
    }
  }
}

// Group type page
.groupTypeTitleContainer .onlineStatusContainer,
.groupTypeSubtitleContainer {
  background: whitesmoke;
  padding: 0.1rem 0.75rem;
  display: flex;
}

// Group page
#groupPageTitle {
  margin-top: 0;
}

#groupMembersContainer {
  background: $off-black;
  position: relative;
  padding: 3rem 10px 1.25rem 10px;

  #groupMembers {
    max-height: 35vh;
    overflow-y: auto;

    padding: 0 1.25rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    grid-gap: 10px;

    .groupMember {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-width: 2px;
      background-color: transparent;
      color: whitesmoke;
      //flex: 1;
    }
  }

  // Button classes for member types and statuses
  .is-online {
    border-color: $primary;
  }
  .is-away {
    border-color: whitesmoke;
  }
}

.onlineStatusTab,
.headerTab {
  position: absolute;
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translateX(-50%);
  top: 0;

  background: whitesmoke;
  padding: 4px 16px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  .onlineStatusText {
    padding-right: 0;
    white-space: nowrap;
  }
}

#groupConsole {
  background: $off-black;
  align-items: stretch;

  .groupChat {
    flex: 2;
  }

  .flex-row-wrap {
    flex: 5;
  }

  .groupDetailsContainer {
    flex: 2;
    background: whitesmoke;
    padding: 1rem;
    margin-left: 1.25rem;
  }
  .groupImage {
    flex: 1;
  }
  .noticeBoard {
    flex: 1 100%;
    margin-left: 1.25rem;

    box-shadow: inset 0px 11px 8px -10px black;
  }
}

@media (max-width: $desktop - 1) {
  #groupConsole {
    background: $off-black;

    display: flex;
    flex-flow: row wrap;

    .groupChat {
      flex: 1 100%;
      order: 4;
      background: pink;
    }

    .groupDetailsContainer {
      flex: 5;
      order: 1;

      margin-left: 0;
    }
    .groupImage {
      flex: 3;
      order: 2;
      background: lightcyan;
    }
    .noticeBoard {
      flex: 1 100%;
      order: 3;
      margin: 0 0 1.25rem 0;
    }
  }
}

@media (max-width: $tablet - 1) {
  #groupConsole {
    .groupChat {
      flex: 1 100%;
      order: 4;
    }

    .groupDetailsContainer {
      flex: 1 auto;
      order: 2;
    }
    .groupImage {
      flex: 1 auto;
      order: 1;
    }
    .noticeBoard {
      flex: 1 100%;
      order: 3;
    }
  }
}

.chat {
  background: $off-black;
  border: 1px solid $primary;
  min-height: 300px;

  display: flex;
  flex-direction: column;

  .messages {
    overflow-y: auto;
    padding: 5px 12px;
    max-height: 320px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .message {
      max-width: 80%;
      .header {
        font-size: 0.8rem;
        color: whitesmoke;

        .headerTime {
          color: $primary;
          padding-left: 0.7rem;
        }
      }

      .body {
        display: inline-block;
        flex-shrink: 1;
        font-size: 0.9rem;
        border-radius: 7px;
        padding: 4px 9px;
        margin-bottom: 7px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
      }
    }

    .is-self {
      align-self: flex-end;
      text-align: right;

      .body {
        background-color: whitesmoke;
        border: none;
        color: black;
      }
    }
  }
  .messageInputContainer {
    padding: 10px 5px;
    background: $primary;
  }
}

.kScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #404040;
}

.kScroll::-webkit-scrollbar {
  width: 12px;
  background-color: $off-black;
}

.kScroll::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $primary;
}

.noticeBoard {
  min-height: 100px;
  background: #404040;
  color: white;
  padding: 3rem 1.25rem 1.25rem 1.25rem;
  position: relative;

  border-radius: 0 0 20px 20px;

  .headerTab {
    box-shadow: inset 0px 11px 8px -10px black;
  }

  .notices {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .notice {
      color: silver;
    }
  }
}

// New group page
.newGroupForm {
  max-width: 700px;
}

.smallInput {
  width: 100px;
}

.timeKeeperModalContent {
  width: 270px;
  text-align: center;
}
