// Discover header
.discover-header {
  padding: 1.5rem;
  margin: 2rem 0 3rem 0;
  display: flex;
  background: $off-black;

  .header-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .step-description {
      @extend %is-light;

      margin: 1rem 0.5rem 0 0.5rem;
      padding: 0.5rem 0.75rem;
      border-radius: 6px;
    }

    img {
      border: 5px solid whitesmoke;
    }
  }
}
