// Discover header
.discover-header {
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin: 2rem auto 3rem auto;
  background: whitesmoke;
  border-radius: 6px;

  //box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);

  .level {
    align-items: flex-start;
  }

  .header-welcome {
    margin: 0 -1.5rem 1.5rem -1.5rem;
    padding: 0.75rem;
    font-size: 1.6rem;
    background: $off-black;
    color: whitesmoke;
  }

  .header-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .step-description {
      background: $off-black;
      color: whitesmoke;

      margin: 1rem 0.75rem 0 0.75rem;
      padding: 0.5rem 0.75rem;
      border-radius: 6px;
    }

    .step-image {
      max-width: 200px;
      width: 90%;
    }

    img {
      border: 7px solid white;
      box-shadow: 0 5px 5px rgba(10, 10, 10, 0.2),
        0 2px 6px 2px rgba(10, 10, 10, 0.2);
    }
  }
}

@media (max-width: $tablet - 1) {
  .discover-header {
    padding: 0 0.5rem 0.5rem 0.5rem;
    max-width: 500px;

    .header-welcome {
      margin: 0 -0.5rem 1.75rem -0.5rem;
      font-size: 1.4rem;
    }

    .header-step {
      margin: 1rem 0;

      .step-description {
        margin: 1rem 0.5rem 0.5rem 0.5rem;
      }

      .step-image {
        max-width: 375px;
      }

      &:last-child {
        .step-description {
          margin-bottom: 0;
        }
      }
    }
  }
}
