// Discover header
.discover-header {
  background: var(--primary);
  color: #fafafa;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .header-welcome {
    font-size: 1.6rem;
  }

  .header-step {
    .step-description {
    }

    .step-image {
      max-width: 200px;
      width: 90%;
    }

    img {
      @extend %has-shadow;
      border: 7px solid white;
    }
  }
}

@media (max-width: $tablet - 1) {
  .discover-header {
    .header-welcome {
      font-size: 1.4rem;
    }

    .header-step {
      .step-description {
      }

      .step-image {
      }

      &:last-child {
        .step-description {
        }
      }
    }
  }
}
