// Footer
.footer {
  @extend %is-dark;
  margin-top: 5em;
  padding-bottom: 1.5rem;

  .content {
    border-top: 1px solid #404040;
    font-size: 0.8rem;
    padding-top: 0.75rem;
  }
}

// Spinner
.spinner-container {
  background-color: whitesmoke;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  margin: 2rem auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

// Notifications / Alerts
.notification {
  margin-top: 1.5rem;
}

// Cards
.no-card-notice {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

// Page nav
#page-nav {
  align-items: flex-end;
  margin: 2.5rem 0 1.5rem 0;
}

.search-control {
  width: 300px;
}

@media (max-width: $tablet - 1) {
  #page-nav {
    .level-right .level-item {
      justify-content: flex-end;
    }

    .level-left .level-item {
      justify-content: flex-start;
    }
  }
}

@media (max-width: $widescreen - 1) {
  .search-control {
    width: 250px;
  }
}

// Page Title
.page-title-container {
  .page-title {
    @extend %is-dark;
    padding: 0.5rem 0.75rem;
  }

  .page-subtitle {
    background: whitesmoke;
    padding: 0.2rem 0.75rem;
    display: flex;

    a {
      color: $off-black;
      width: 100%;
    }

    .online-status-container {
      margin-top: 2px;
    }
  }
  &.has-page-options {
    max-width: 400px;
  }
}

@media (max-width: $tablet - 1) {
  .page-title-container.has-page-options {
    max-width: none;
  }
}

// Modal
.modal-content {
  text-align: center;
  width: fit-content;
}

// New Group Modal
.time-keeper {
  width: 270px;
}

// User Info
.user-info {
  width: 350px;

  .header-tab {
    background: $off-black;

    .subtitle {
      color: whitesmoke;
    }
  }

  img {
    border: 7px solid white;
    box-shadow: 0 5px 5px rgba(10, 10, 10, 0.2),
      0 2px 6px 2px rgba(10, 10, 10, 0.2);
  }

  .content {
    text-align: left;
    padding: 0.25rem 0.5rem;
    h3 {
      margin-top: 1rem;
      line-height: 1.1;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
        border-bottom: 2px solid #dbdbdb;
      }
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  .buttons {
    padding-top: 0.25rem;

    .button {
      flex: 1;
      border-color: whitesmoke;
    }
  }
}

// Tags
.tag.card-tag {
  z-index: 1;
  position: absolute;
  top: 16px;
  right: 18px;
}

// Alerts
.custom-action-alert {
  display: flex;
  align-items: center;

  .alert-items {
    display: flex;
    align-items: center;
    flex: 1;

    h3 {
      min-width: 200px;
      flex: 1;
    }
  }

  .countdown-container {
    margin-right: 0.75rem;
  }
}

@media (max-width: $tablet - 1) {
  .custom-action-alert {
    align-items: flex-start;

    .alert-items {
      align-items: flex-start;
      flex-direction: column;

      h3 {
        text-align: left;
        margin-top: 0.6rem;
      }

      .field {
        margin-top: 0.75rem;
        align-self: flex-end;
      }
    }
  }
}

// Info modal
.info-modal {
  max-width: 650px;
  align-items: center;
  padding: 2rem;

  .content {
    border-top: 2px solid #dbdbdb;
    margin-top: 1.25rem;
    padding-top: 0.75rem;
    text-align: left;
  }
}

.info-icon {
  color: #4a4a4a;
}

// Login
.centered-form.login-form {
  max-width: 400px;
}
