// Footer
.footer {
  @extend %is-dark;
  margin-top: 6rem;
  padding: 2.5rem 1.5rem;
  color: #555555;

  /*   background-image: url("../resources/footer_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: overlay;
  filter: grayscale(1); */

  .centered-logo {
    opacity: 0.85;
    max-width: 200px;
  }

  a {
    color: #555555;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    font-size: 0.8rem;
  }

  .clickable-text,
  a {
    &:hover {
      color: #808080;
    }
  }
}

@media (max-width: $tablet - 1) {
  .footer {
    margin-top: 1.5rem;

    .column {
      padding: 0.25rem;
    }

    .breadcrumb {
      font-size: 0.8rem;
    }

    .centered-logo {
      max-width: 225px;
    }
  }
}

// Spinner
.spinner-container {
  background-color: #f8f8f8;
  border-radius: 14px;
  width: 70px;
  height: 70px;
  margin: 2rem auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  &.is-midpage {
    margin: 0;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  & .hexdots-loader {
    transform: scale(0.7);
  }
}

// Notifications / Alerts
.notification-container {
  position: fixed;
  width: 76%;
  left: 12%;
  top: 3.75rem;
  z-index: 30;
  max-height: 40vh;
  overflow-y: auto;
  padding: 0 1.5rem 1.5rem 1.5rem;
  pointer-events: none;

  .notification {
    @extend %has-shadow;
    @extend %fade-in-top;
    padding: 0.75rem 2rem 0.75rem 1rem;
    pointer-events: all;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }
}

@media (max-width: $tablet - 1) {
  .notification-container {
    width: calc(100% - 0.5rem);
    top: 0.25rem;
    left: 0.25rem;
    padding: 0;

    .notification {
      margin: 0;
    }
  }
}

// Cards
.no-card-notice {
  text-align: center;
  margin-top: 1.5rem;
  border-radius: 4px;

  &.hs-box {
    color: #f8f8f8;
    background-color: var(--primary);
    padding: 4.25rem 1.25rem;
    font-size: 1.1rem;
  }
}

.group-type-card,
.group-card-container {
  @extend %fade-in-bottom;

  -webkit-transition: box-shadow 0.03s ease, transform 0.03s ease;
  -moz-transition: box-shadow 0.03s ease, transform 0.03s ease;
  -o-transition: box-shadow 0.03s ease, transform 0.03s ease;
  -ms-transition: box-shadow 0.03s ease, transform 0.03s ease;
  transition: box-shadow 0.03s ease, transform 0.03s ease;
}

.group-type-card {
  &:hover {
    box-shadow: 0px 9px 16px -5px rgba(20, 20, 20, 0.4);
    transform: scale(1.013);
  }
}

.group-card-container {
  &:hover {
    box-shadow: 0px 9px 16px -5px rgba(20, 20, 20, 0.4);
    transform: scale(1.003);
  }
}

// Page nav
#page-nav {
  align-items: flex-end;
  margin: 5.25rem 0 1.5rem 0;
}

.search-control {
  width: 300px;
}

.submit-control {
  padding-top: 1.25rem;

  .has-addons & {
    padding-top: 0;
  }
}

@media (max-width: $tablet - 1) {
  #page-nav {
    margin-top: 0.5rem;

    .level-right .level-item {
      justify-content: flex-end;
    }

    .level-left .level-item {
      justify-content: flex-start;
    }
  }
}

@media (max-width: $widescreen - 1) {
  .search-control {
    width: 250px;
  }
}

// Page Title
.page-title-container {
  max-width: 600px;

  .page-title {
    @extend %is-dark;
    position: relative;
    padding: 0.5rem 0.75rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 5;
    overflow: hidden;
    &::before {
      content: "";
      width: 76px;
      height: 76px;
      background: var(--primary);
      position: absolute;
      left: -57px;
      bottom: -57px;
      border-radius: 38px;
    }
  }

  .page-subtitle {
    background: #f8f8f8;
    padding: 0.2rem 0.75rem;
    display: flex;

    a {
      color: $off-black;
      width: 100%;
    }

    .online-status-container {
      margin-top: 2px;
    }
  }
  &.has-page-options {
    max-width: 400px;
  }
}

@media (max-width: $tablet - 1) {
  .page-title-container.has-page-options {
    max-width: none;
  }
}

// Modal
.modal {
  cursor: default;
}
.modal-content {
  text-align: center;
  width: fit-content;
  overflow-y: auto;
}

@media (max-width: $tablet - 1) {
  .modal-content {
    margin: 0 0.25rem;
  }
}

// New Group Modal
.time-keeper {
  width: 276px;
}

// User Info
.user-info {
  width: 350px;

  &.hs-box {
    padding: 1.75rem;
  }

  .header-tab {
    background: $off-black;

    .subtitle {
      color: #f8f8f8;
    }
  }

  img {
    @extend %has-shadow;
    border: 8px solid #f8f8f8;
  }

  .content {
    text-align: left;
    padding: 0.25rem 0.5rem;
    h3 {
      margin-top: 1rem;
      line-height: 1.1;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #dbdbdb;
      }
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  .buttons {
    padding-top: 0.25rem;

    .button {
      flex: 1;
      border-color: #f8f8f8;
    }
  }
}

// Tags
.tag.card-tag {
  z-index: 1;
  position: absolute;
  top: 8px;
  right: 8px;
}

// Breadcrumb
.breadcrumb {
  .clickable-text,
  a {
    padding: 0 0.5rem;
  }

  .modal {
    white-space: normal;
  }

  & li + li::before {
    color: inherit;
  }
}

// Radio button
.field.is-grouped > .control.hs-radio-btn-control:not(:last-child) {
  margin-right: 0.5rem;
}

@media (max-width: $tablet - 1) {
  .field.is-grouped > .control.hs-radio-btn-control {
    &.is-expanded {
      flex-grow: 0;
    }
    .is-fullwidth {
      width: initial;
    }
  }
}

// Alerts
.custom-action-alert {
  display: flex;
  align-items: center;

  .icon.is-large {
    min-width: 3rem;
  }

  .icon {
    margin-right: 0.5rem;
  }

  .alert-items {
    display: flex;
    align-items: center;
    flex: 1;

    h3 {
      min-width: 200px;
      flex: 1;
    }
  }

  .countdown-container {
    margin-right: 0.75rem;
  }
}

@media (max-width: $tablet - 1) {
  .custom-action-alert {
    align-items: flex-start;

    .icon {
      margin-top: 0.2rem;
    }

    .alert-items {
      align-items: flex-start;
      flex-direction: column;

      h3 {
        text-align: left;
      }

      .field {
        margin-top: 0.75rem;
        align-self: flex-end;
      }
    }
  }

  .modal-content .info-modal.hs-box {
    padding: 1.5rem !important;
  }
}

// Info modal
.info-modal {
  max-width: 650px;
  align-items: center;
  border-radius: 4px;

  &.hs-box {
    padding: 2.75rem !important;
  }

  .content {
    border-top: 1px solid #dbdbdb;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;

    &.has-text-header {
      margin-top: 0;
    }
  }
}

// Login and password reset
.centered-form.login-form,
.centered-form.reset-password-form {
  max-width: 370px;

  .hs-box {
    background-color: #141414;
  }

  .login-form-message {
    color: #808080;
    h3 {
      color: #f8f8f8;
      line-height: 2rem;
      margin-bottom: 0.25rem;
    }
    margin-bottom: 0.75rem;
  }

  .centered-logo {
    max-width: 92%;
    padding-bottom: 2rem;
    margin: auto;

    position: relative;
    &::before {
      content: "[beta]";
      position: absolute;
      bottom: 4.75rem;
      right: 0;
      color: #808080;
      font-size: 0.8rem;
    }
  }

  .field.is-grouped.is-grouped-right {
    margin-bottom: 0;
  }

  .reset-password-container {
    margin-top: 0.25rem;
    width: 100%;
    text-align: center;
    color: #808080;
    font-size: 0.8rem;
  }

  .label {
    color: #f8f8f8;
  }
}

.centered-form.login-form .hs-box,
.centered-form .hs-box .login-styled-input-container {
  .input {
    background-color: transparent;
    color: #f8f8f8;
    border-bottom: 1px solid #707070;
  }
}

// Register
.field.tos-field {
  margin-bottom: -0.5rem;
  padding-top: 0.5rem;
}

// Tooltip
.hs-tooltip {
  z-index: 1;
  position: absolute;
  top: -2.25rem;
  left: 50%;
  transform: translateX(-50%);

  width: max-content;
  font-size: 0.8rem;
  padding: 0.25rem 0.75rem;
  border-radius: 14px;
  color: #f8f8f8;
  background-color: rgba(20, 20, 20, 0.8);
  visibility: hidden;
  opacity: 0;

  transition: visibility 0s 0.2s, opacity 0.2s;

  &.is-visible {
    visibility: visible;
    opacity: 1;

    transition: opacity 0.2s;
  }
}

// Grouplocks
.grouplocks-section {
  .field.has-addons {
    margin-bottom: 0;
  }

  .field.field.is-grouped {
    margin-bottom: 2.25rem;
  }

  .hs-radio-btn-control {
    position: relative;
    flex: 1;

    .button {
      padding: 0.25rem;
      width: 100%;
      font-size: 0.88rem;
    }

    .tag {
      background: transparent;
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.checkout-container {
  margin: 2rem 3.5rem;
  border: 1px solid var(--primary);
  border-radius: 4px;

  ul {
    padding: 1.25rem 2.25rem;

    li {
      display: flex;

      & :first-child {
        flex-grow: 1;
      }

      &:last-child {
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-top: 1px solid #404040;
      }
    }
  }
}

@media (max-width: $tablet - 1) {
  .checkout-container {
    margin: 2rem 0;
  }
}

// Beta Entry
.beta-entry-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 100;

  .hs-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .field {
      margin-top: 0.5rem;
    }
  }
}

// FAQ
.FAQ-container {
  .FAQ-question {
    padding: 0.75rem 1rem;
    border-radius: 4px;
    border-top: 4px solid var(--primary);
    margin-bottom: 0.5rem;

    &:last-child {
      margin-top: 2rem;
    }

    .FAQ-question-header {
      display: flex;

      h3 {
        font-size: 1.2rem;
        flex: 1;
      }
    }
    p {
      border-top: 1px solid #dbdbdb;
      padding: 0.75rem 0 0.5rem 0;
      margin-top: 0.25rem;
    }
  }
}
