// Navbar
.navbar,
.navbar.is-fixed-top,
.navbar-brand,
.navbar-burger {
  height: 2.9rem;
  min-height: 2.85rem;
}
.navbar.is-fixed-top {
  @extend %has-shadow;

  background: $off-black;

  /*   background-image: url("../resources/navbar_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: overlay; */
}

.navbar-brand {
  img {
    margin-right: 0.25rem;
  }

  #logo-typewriter {
    color: #fafafa;
  }

  #logo-text {
    color: #fafafa;
    transition: color 0.2s;

    &:hover {
      color: var(--primary);
      background-color: transparent;
    }
  }
}

.button.is-primary.is-outlined.outlined-nav-button {
  color: #fafafa;
}

@media (max-width: $tablet - 1) {
  #logo-typewriter,
  #logo-text {
    display: none;
  }

  .navbar-brand {
    .navbar-item {
      height: 100%;
    }
  }
}

@media (max-width: $desktop - 1) {
  .button.is-primary.is-outlined.outlined-nav-button {
    //: var(--primary);
  }

  .navbar.is-fixed-top {
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    background-image: none;
    background-size: inherit;
  }
  .navbar-brand {
    -webkit-box-shadow: 0px 5px 18px -1px rgba(20, 20, 20, 0.4);
    -moz-box-shadow: 0px 5px 18px -1px rgba(20, 20, 20, 0.4);
    box-shadow: 0px 5px 18px -1px rgba(20, 20, 20, 0.4);

    min-width: 100%;
    background-color: $off-black;

    /*     background-image: url("../resources/navbar_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-blend-mode: overlay; */
  }
  .navbar-menu {
    -webkit-box-shadow: 0px 5px 18px -1px rgba(20, 20, 20, 0.4);
    -moz-box-shadow: 0px 5px 18px -1px rgba(20, 20, 20, 0.4);
    box-shadow: 0px 5px 18px -1px rgba(20, 20, 20, 0.4);
    margin-left: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 4px;

    .navbar-end {
      padding: 0 0.75rem;
      width: 15rem;
    }

    .navbar-item {
      padding: 0.75rem 0;
      &:not(:last-child) {
        //border-bottom: 2px solid var(--primary);
        padding-bottom: 0;
      }
    }

    .buttons .button {
      flex-grow: 1;
      margin-bottom: 0.5rem;
      flex-direction: row-reverse;
      justify-content: flex-end;
      background-color: transparent;
      border: none;
      border-left: 4px solid var(--primary);

      &:not(:last-child):not(.is-fullwidth) {
        margin-right: 0;
      }

      .icon {
        margin-right: 0.25rem;
      }
    }
  }
}
