// Navbar
.navbar.is-fixed-top {
  background: $off-black;
}

.navbar-brand {
  img {
    max-height: 2.15rem;
    margin-right: 0.35rem;
  }

  #logo-typewriter {
    color: #fafafa;
  }

  #logo-text {
    color: #fafafa;
    transition: color 0.2s;

    &:hover {
      color: var(--primary);
      background-color: transparent;
    }
  }
}

.button.is-primary.is-outlined.outlined-nav-button {
  color: #fafafa;
}

@media (max-width: $tablet - 1) {
  #logo-typewriter,
  #logo-text {
    display: none;
  }

  .navbar-brand {
    .navbar-item {
      height: 100%;
    }

    img {
      max-height: 1.85rem;
    }
  }

  .navbar-brand,
  .navbar-burger {
    min-height: 2.75rem;
    height: 2.75rem;
  }
}

@media (max-width: $desktop - 1) {
  .button.is-primary.is-outlined.outlined-nav-button {
    background-color: var(--primary);
  }

  .navbar.is-fixed-top {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }
  .navbar-brand {
    min-width: 100%;
    background-color: $off-black;
  }
  .navbar-menu {
    margin-left: auto;
    padding: 0;
    background-color: #fafafa; // rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 6px;

    .navbar-end {
      padding: 0 1.25rem;
    }

    .navbar-item {
      padding: 0.75rem 0;
      &:not(:last-child) {
        border-bottom: 2px solid #dbdbdb;
      }
    }

    .buttons .button {
      flex-grow: 1;
    }
  }
}
