// 404
.page-not-found {
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  .hs-box {
    margin-right: 20%;
  }
  .page-not-found-warning,
  #lost-moto {
    flex: 1;
  }
}

@media (max-width: $desktop - 1) {
  .page-not-found {
    padding: 0 1em;
    margin-top: 3rem;

    .hs-box {
      margin-right: 0;
    }

    .page-not-found-warning {
      flex: 1 100%;
    }

    #lost-moto {
      text-align: right;
      flex: 1 100%;
      margin-top: 5vh;
    }
  }
}
